{% extends "admin/admin_panel.html" %} 
{% block title %}Admin Panel - Delete{% endblock %}
{% block content %}

<div class="d-flex justify-content-center">
    <div class="col-md-3">
        <h4>Delete User</h4>
        <form method="POST" action="{{ url_for('admin.delete_user') }}">
        <!-- CSRF-3 - START -->
        <!-- Vulnerability -->
        <!-- No CSRF protection. -->
        <!-- CSRF-3 - END -->
        <hr class="hr" />
        <div class="mb-3">
        <label for="delete_username" class="form-label">Username</label>
        <input type="text" class="form-control" id="delete_username" name="delete_username" placeholder="Username">
        </div>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash">
            {% for message in messages %}
            <div class="alert alert-danger" role="alert" id="alert-success">
              {{ message }}
            </div>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock %}