{% extends "auth/login.html" %} 
{% block title %}Sign Up{% endblock %}

<main class="form-signin w-100 m-auto">
    {% block form%}
      <h1>Sign Up</h1>
      <form id="signup-form" method="POST" action="{{ url_for('auth.signup') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3">
            <label for="first_name" class="form-label">First name</label>
            <input type="text" class="form-control" id="first_name" placeholder="Enter First Name" name="first_name">
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last name</label>
            <input type="text" class="form-control" id="last_name" placeholder="Enter Last Name" name="last_name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter Email Address" name="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control" id="username" placeholder="Enter Username" name="username">
          </div>
        <div class="mb-3">
          <label for="PasswordTextArea" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
          <div id="passwordHelp" class="form-text">Password has to be at least 10 cahracters long and contain special characters and digits.</div>
        </div>
        <button type="submit" class="btn btn-primary" id="button">Sign Up!</button>
      </form>
      
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="flash">
          {% for message in messages %}
          <div class="alert alert-danger" role="alert" id="alert-danger">
            {{ message }}
          </div>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    {% endblock %}
</main>


