{% extends "public/coffee.html" %} 
{% block title %}Accessories{% endblock %}
{% block heading %}
<h1 class="fw-light"><img src="{{ url_for('static', filename='images/products/accessories/accessory2.svg') }}" width="75" height="57">
  Accessories
  <img src="{{ url_for('static', filename='images/products/accessories/accessory_heading.svg') }}" width="75" height="57"></h1>
<p class="lead text-body-secondary">Enhance your coffee or tea experience with our curated selection of premium accessories.</p>
<p class="note"><i>* We do not offer delivery, all orders must be paid and picked up at our café.</i></p>
{% endblock %}