{% extends "public/home.html" %} 
{% block title %}Checkout{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card checkout-section">
        <div class="card-body">
            <h5 class="card-title">Your Cart</h5>
            <ul class="list-group">
                {% if session['cart']|count > 0 %}
                    {% for item_id, quantity in session['cart'].items() %}
                        {% set product = get_product_by_id(item_id) %}
                        {% if product %}
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <img src="{{ url_for('static', filename=product.image) }}" class="bd-placeholder-img card-img-top" width="50" height="50" role="img" aria-label="Product Image" preserveAspectRatio="xMidYMid slice" focusable="false">
                                    </div>
                                    <div class="col">
                                        <span class="item-name">{{ product.name }}</span><br>
                                        <span class="item-quantity">{{ quantity }}x</span>
                                    </div>
                                    <div class="col">
                                        <span class="item-price">Price: ${{ product.price }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <form id="delete_from_cart-form" method="POST" action="{{ url_for('cart.delete_from_cart') }}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                            <button class="btn btn-link" type="submit"><i class="bi bi-x"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <hr class="solid">
                    <li class="list-group-item" id="list-group-item-total">Total: ${{ session['total']|round(2) }}</li>
                    <div class="text-center">
                        <a href="{{url_for('cart.checkout')}}" class="btn btn-outline-success" role="button" id="order_button">Order!</a>
                    </div>
                {% else %}
                    <li class="list-group-item text-center">Cart is empty</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}



