{% extends "public/home.html" %} 
{% block title %}Coffee{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='coffee.css') }}">
{% endblock %}
{% block head %}
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.3/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.3/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
    <link rel="icon" href="/docs/5.3/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#712cf9">
{% endblock %}

{% block content %}
<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Album example</h1>
          <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for product in products %}
          <!-- Product card START-->
          <div class="col">
            <div class="card shadow-sm">
              <img src="{{ url_for('static', filename=product['image']) }}" class="bd-placeholder-img card-img-top" width="150" height="150" role="img" aria-label="Product Image" preserveAspectRatio="xMidYMid slice" focusable="false">
              <div class="card-body">
                <a href="{{ url_for('home.product_info', id=product['id']) }}" class="card-link">
                  <h5 class="card-title">{{ product['name'] | safe}}</h5>
                </a>
                <p class="card-text">{{ product['description'] }}</p>
                <div class="d-flex">
                  <p class="card-text-price">Price: ${{ product['price'] }}</p>
                  <p class="card-text-stock">Stock: {{ product['stock'] }}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="#" class="btn btn-outline-success" role="button" id="add_to_cart_button">Add to Cart</a>
                  <!-- <small class="text-body-secondary">9 mins</small> -->
                </div>
              </div>
            </div>
          </div>
          <!-- Product card END-->
          {% endfor %}
  </main>
{% endblock %}



