{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block navbar %}
    {% if current_user.is_authenticated %}
        <ul class="navbar-nav my-2 my-lg-0" id="right-part-nav">
            {% if current_user.roles.name == 'admin'%}
                <li class="nav-item">
                    <a href="{{ url_for('admin.admin_panel')}}" class="btn btn-outline-danger" role="button" id="admin_button">Admin Panel</a>
                </li>
            {% endif %}
            <a href="#">
                <li class="nav-item">
                    <i class="bi bi-basket" id="basket"></i>
                </li>
            </a>
            <li class="nav-item dropdown">
                <!-- StoredXSS-1 - START -->
                <!-- Fix -->
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">{{ current_user.username }}</a>
                <!-- StoredXSS-1 - END -->
            <ul class="dropdown-menu">
                <!-- IDOR-1 - START -->
                <!-- Vulnerability -->
                <li><a class="dropdown-item" href="{{ url_for('account.setting', id=current_user.id) }}">Settings</a></li>
                <!-- IDOR-1 - END -->
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
            </li>
        </ul>
    {% else %}

        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.signup') }}">Sign Up</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
{% block content %}

Home is going to be hereHome is going to be hereHome is going to be hereHome is going to be hereHome is going to be here






{% endblock %}