{% extends "public/coffee.html" %} 
{% block title %}Tea{% endblock %}
{% block heading %}
<h1 class="fw-light"><img src="{{ url_for('static', filename='images/tea-leaf-icon.svg') }}" width="65" height="47">
  Tea
  <img src="{{ url_for('static', filename='images/tea-leaf-icon.svg') }}" width="65" height="47"></h1>
<p class="lead text-body-secondary">Experience the elegance and diversity of our premium tea selection. From soothing herbal blends to bold black teas and delicate green teas, each sip promises a journey of flavor and relaxation.</p>
<p class="note"><i>* We do not offer delivery, all orders must be paid and picked up at our café.</i></p>
{% endblock %}