{% extends "public/coffee.html" %} 
{% block title %}Tea{% endblock %}
{% block heading %}
<h1 class="fw-light"><img src="{{ url_for('static', filename='images/tea-leaf-icon.svg') }}" width="65" height="47">
  Tea
  <img src="{{ url_for('static', filename='images/tea-leaf-icon.svg') }}" width="65" height="47"></h1>
<p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
{% endblock %}