{% extends "public/home.html" %} 
{% block title %}Tips & Tricks{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">

    <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Choose</h5>
      <p class="card-text">In our online store you can choose coffee of variaty of types and origins. </p>
      <a href="{{ url_for('home.guide_reader', file_name='guide1.txt') }}" class="btn btn-outline-success" id="button-outline">Go somewhere</a>
    </div>
    </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Prepare</h5>
      <p class="card-text">Bring you caffee at home. Learn how to prepare the best caffee.</p>
      <a href="{{ url_for('home.guide_reader', file_name='guide2.txt') }}" class="btn btn-outline-success" id="button-outline" data-topic="guide1.txt">Go somewhere</a>
    </div>
  </div>
  
</div>

{% endblock %}